[submodule "Jose Ramón/Proxecto Homepanion"]
	path = Jose Ramón/Proxecto Homepanion
	url = https://github.com/masterfabela/Homepanion.git
[submodule "FRMCode/Java Sources"]
	path = FRMCode/Java Sources
	url = https://github.com/FranRM/Exercicios-Boletin2.git
[submodule "JoseRamon/ProxectoHomepanion"]
	path = JoseRamon/ProxectoHomepanion
	url = https://github.com/masterfabela/Homepanion.git
[submodule "FRMCode/NetBeansProjects/ProgramaComercio/mylib"]
	path = FRMCode/NetBeansProjects/ProgramaComercio/mylib
	url = https://github.com/FranRM/Omnitool
