.vscode/launch.json
*.metadata
*.recommenders
*.project
*.classpath
*.idea
.DS_Store
/FRMCode/NetBeansProjects/Exemplo_atrib_obx/nbproject/private/
/FRMCode/NetBeansProjects/Boletin3_1/nbproject/private/
/FRMCode/NetBeansProjects/Boletin3_2/nbproject/private/
/FRMCode/NetBeansProjects/Boletin3_3/nbproject/private/
/FRMCode/NetBeansProjects/Boletin3_4/nbproject/private/
/FRMCode/NetBeansProjects/Exemplo_atrib_obx/build/
/FRMCode/NetBeansProjects/Exemplo_atrib_obx_copia/nbproject/private/
/FRMCode/NetBeansProjects/Exemplo_atrib_obx_copia/build/
/FRMCode/NetBeansProjects/Exemplo_atrib_obx_EXEMPLOSTATIC/nbproject/private/
/FRMCode/NetBeansProjects/Exemplo_atrib_obx_EXEMPLOSTATIC/build/
/FRMCode/NetBeansProjects/Alumno/nbproject/private/
/FRMCode/NetBeansProjects/Test entregable/nbproject/private/
/FRMCode/NetBeansProjects/Factura/nbproject/private/
/FRMCode/NetBeansProjects/Factura/build/
/FRMCode/NetBeansProjects/Alumno/build/
/FRMCode/NetBeansProjects/JavaApplication61/nbproject/private/
/FRMCode/NetBeansProjects/Exemploswitch/nbproject/private/
/FRMCode/NetBeansProjects/Exemploswitch/build/
/FRMCode/NetBeansProjects/Boletin5/Extradescontos/nbproject/private/
/FRMCode/NetBeansProjects/exemploBucles/nbproject/private/
/FRMCode/NetBeansProjects/exemploBucles/build/
/FRMCode/NetBeansProjects/Boletin 7/Boletin7_1/nbproject/private/
/FRMCode/NetBeansProjects/Boletin 7/Boletin7_1/build/
/FRMCode/NetBeansProjects/Boletin 7/Boletin7_2/nbproject/private/
/FRMCode/NetBeansProjects/Boletin 7/Boletin7_2/build/
/FRMCode/NetBeansProjects/Boletin7_3/nbproject/private/
/FRMCode/NetBeansProjects/Boletin7_3/build/
/FRMCode/NetBeansProjects/Boletin7_4/nbproject/private/
/FRMCode/NetBeansProjects/Boletin 7/Aguinaldo/nbproject/private/
/FRMCode/NetBeansProjects/Boletin 7/Aguinaldo/build/
/FRMCode/NetBeansProjects/Exemploherdanza/nbproject/private/
/FRMCode/NetBeansProjects/Exemploherdanza/build/
/FRMCode/NetBeansProjects/Boletin8_1/nbproject/private/
/FRMCode/NetBeansProjects/Boletin8_1/build/
/FRMCode/NetBeansProjects/Boletin9/nbproject/private/
/FRMCode/NetBeansProjects/Boletin9_1/nbproject/private/
/FRMCode/NetBeansProjects/Boletin9_1/build/
/FRMCode/NetBeansProjects/Boletin9_2/nbproject/private/
/FRMCode/NetBeansProjects/Boletin9_2/build/
/FRMCode/NetBeansProjects/Boletin9_3/nbproject/private/
/FRMCode/NetBeansProjects/Boletin9_3/build/
/FRMCode/NetBeansProjects/Boletin9_4/nbproject/private/
/FRMCode/NetBeansProjects/Boletin9_4/build/
/FRMCode/NetBeansProjects/Boletin9_5/nbproject/private/
/FRMCode/NetBeansProjects/Boletin9_6/nbproject/private/
/FRMCode/NetBeansProjects/Boletin9_5/build/
/FRMCode/NetBeansProjects/Boletin9_6/build/
/FRMCode/NetBeansProjects/Boletin9_6/dist/
/FRMCode/NetBeansProjects/Boletin 10/Boletin10_1/nbproject/private/