<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Xunta</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.c3p0.timeout">0</property>
    <mapping resource="portamapas/Instituto.hbm.xml"/>
    <mapping resource="portamapas/Ciclo.hbm.xml"/>
    <mapping resource="portamapas/Taller.hbm.xml"/>
    <mapping resource="portamapas/Uso.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
