body{
    font-size: 40;
    background-color: gray;
}
h1{
    text-decoration: underline;
}

h1#b{
    text-align: center;
    color: rgb(59, 56, 56);
    font-size: 55px;
    text-transform: uppercase;
    text-decoration: default; 
}
article.Politica{
    border-style: solid;
    border-color: orangered;
    background-color: rgba(255, 166, 0, 0.637);
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}
div.nacimientop{
    background-color: orange;
    margin-left:5px;
    margin-right:5px;
}
div.nacimientoa{
    background-color: rgba(238, 130, 238, 0.63);
    margin-left:5px;
    margin-right:5px;
}
div.vidaa{
    margin-left:10px;
    margin-right:10px;
}
div.vidap{
    margin-left:10px;
    margin-right:10px;
}
article.Arte{
    border-style: solid;
    border-color:violet;
    background-color:pink;
    border-top-left-radius:10px;
    border-bottom-right-radius:10px;
}
h2{
    color:white;
}
h2.p{
    margin-top:2px;
    margin-bottom:0px;
    margin-left:5px;
    margin-right:5px;
    background-color: orangered;
    border-top-right-radius:10px;
    
    
}
h2.a{
    margin-top:2px;
    margin-bottom:0px;
    margin-left:5px;
    margin-right:5px;
    background-color:violet;
    border-top-left-radius:10px;
}

