<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Empresas</property>
    <property name="hibernate.c3p0.timeout">0</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="portamapas/Produto.hbm.xml"/>
    <mapping resource="portamapas/Empregado.hbm.xml"/>
    <mapping resource="portamapas/Empresa.hbm.xml"/>
    <mapping resource="portamapas/Venta.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
