centro,nombreCentro,web,nombre{
    display:list-item;
}

grado,decretoTitulo{
    display:list-item;
    margin-left:50px;
    list-style-type: square;
}
nombreCentro{
    text-decoration:underline;
    font-weight: bold;
    font-size: 30px;
}
web{
    color: blue
}