<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a18franciscorm.proxecto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/nome_p_principal"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityXestion"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityConsulta"
            android:screenOrientation="portrait"/>
        <activity android:name=".IMCActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".IMBActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>