centro,nombreCentro,web{
    display:list-item;
}
nombre,grado,decretoTitulo{
    display:list-item;
    margin-left:50px;
    list-style-type: disc;
}
nombreCentro{
    text-decoration:underline;
    font-weight: bold;
    font-size: 30px;
}