libro, titulo, autor, fechaPublicacion {
    display: block;
  }
   
  libro {
    border-style:solid;
    border-width: 2px;
    margin: 10px;
  }
   
  titulo {
    border-bottom: black 2px solid;
    font-weight: bold;
    padding-left: 5px;
  }
   
  autor {
    padding-left: 5px;
  }
   
  fechaPublicacion {
    padding-left: 5px;
  }
  
  
  