body{
    background-color: rgb(106, 165, 106);
}
h1{
    text-align:right;
    letter-spacing: 10px;
    text-transform: uppercase;
    color:rgb(76, 0, 255);
    font-weight: bold;
    margin-bottom:5px;
}
h2{
    background-color: rgb(0, 77, 0);
    color:white;
    clear: both;
}
img.iz{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
img.der{
    float:right;
}
p.cen{
    text-align: center;

}
footer{
    font-size: 10px;
    font-style: italic;
}
