
biblioteca{
    border-style:solid;
}
titulo,autor,fechaPublicacion{
    margin-left:2em;
}
titulo{
    font-weight: bold;
    display:block;
}
autor,fechaPublicacion{
    display:block;
}

libro{
    
}