body{
    background-color: rgba(255, 166, 0, 0.493);
    font-size: 20px;
}

h1{
    color:white
}
h2{
    color:rgb(240, 89, 89)
}
h3{
    color:rgb(162, 201, 162)
}
h4{
    color:rgb(215, 148, 224)
}